log.txt
project/bin
project/gen
project/libs
project/assets
project/obj
project/local.properties
project/jni/application/*/libapplication*.so
java-libs/ActionBarSherlock/bin
java-libs/ActionBarSherlock/gen
